<!DOCTYPE html>

<html>
<head>
   <title>
   Todo Application
   </title>
   %>
</head>
<body>
    <h1>Todo Application</h1>
    <form action="/todo" method="post">
         Name: <input type="text" name="name" placeholder="Enter Todo" /><br><br>
        <input type="submit" value="accept"/>
        <br><br><hr>
    </form>
    
    <form action="/remove/todo" method="post">
       <input type="submit" value="Remove All"/>
   </form>

    <ul>
        <% todos.forEach((item)=>{%>
        <li><%=item.name%></li>
        <%});%>
    </ul>
</body>
</html>